@import '../../styles/variables.scss';
@import '../../styles/colors.scss';
.blackFilter {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: $blackFilterColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 95%;
  overflow: auto;
  background-color: $gameDetailBg;
  border-radius: 1em;
  box-shadow: 0 0 1.5em 0 $shadowColor;
  padding: 2em;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gameScrollColor;
    border-radius: 2em;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  scrollbar-color: $gameScrollColor transparent;
  scrollbar-width: 7px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.infos {
}
.info {
  font-size: $textFontSize + 0.3em;
  color: lighten($textColor, 5%);
  font-weight: 700;
  &:not(:first-child) {
    margin-top: 1.5em;
  }
}
.platforms {
  display: flex;
  max-width: 50%;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.platform {
  display: flex;
  align-items: center;
  margin: 1em;
}
.platformName {
  color: lighten($textColor, 15%);
  font-size: $textFontSize;
}
.platformIcon {
  color: lighten($textColor, 15%);
}
.stars {
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.star {
  margin: 0 0.2em;
}
.cover {
  width: 100%;
  margin-top: 2em;
}
.coverImg {
  width: 100%;
  height: auto;
}
.desc {
  margin-top: 2em;
}
.descContent {
  color: $textColor;
  font-size: $textFontSize;
  line-height: 2.5em;
}
.shots {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.shot {
  max-width: 75%;
  height: 15em;
  border-radius: 1.5em;
  margin: 1em;
}
.error {
  padding: 2em 4em;
  color: $error;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .shots {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .shot {
    max-width: initial;
    width: 100%;
    height: auto;
    max-height: 25em;
  }
}
