$bodyBgColor: white;
$loaderBgColor: rgb(154, 214, 120);
$loaderColor: white;
$loaderBorderColor: royalblue;
$titleColor: rgb(20, 20, 20);
$textColor: rgb(50, 50, 50);
$specialColor: rgb(255, 127, 7);
$error: rgb(207, 68, 96);
$shadowColor: rgba(0, 0, 0, 0.3);
